LARE_API_PORT=5000
LARE_PYGEOAPI_CONFIG=./pygeoapi-config.yml
LARE_APP_CONFIG=./app.yml
LARE_DATA_DIR=./data
LARE_TMP_DIR=./tmp

# Set this to the absolute host path that GeoServer can read.
# Examples:
#   Windows development: C:/develop/lare/tmp
#   Production: /opt/lare/tmp
LARE_TMPDIR_HOST=/absolute/path/to/lare/tmp
