*.pyc
outputs/*
static/*
logs/*
configuration*.txt
app.yml
.env
.env.*
!.env.example
tmp/*
*.tif
*.tif.*
tmp/
templates/
wps_ri2de*.py
ri2de_.json
*.tif
wps_test*.py

# vim, mac os
*.sw*
.DS_Store
.*.un~
.idea

# python setup.py build/install artifacts
build
dist
pywps_demo.egg-info/

# docs build artifacts
_build/


