*.pyc
outputs/*
static/*
logs/*
configuration*.txt
app.yml
tmp/*
*.tif
*.tif.*
utils/
tmp/
templates/
wps_ri2de*.py
ri2de_.json
*.tif

# vim, mac os
*.sw*
.DS_Store
.*.un~
.idea

# python setup.py build/install artifacts
build
dist
pywps_demo.egg-info/

# docs build artifacts
_build/


